@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.AboutUs {
    width: 90%;
    max-width: 900px;
    background-color: #1E1E1E;
    border-radius: 12px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.6);
    padding: 40px 30px;
    color: #E0E0E0;
    text-align: center;
    margin: 15vh auto 50px;
    position: relative;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.content {
    position: relative;
    z-index: 1;
    margin: 0;
    text-align: left;
}

.content h2 {
    font-size: 2.5rem;
    color: #ff4b04;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #ff4b04;
    padding-bottom: 10px;
    display: inline-block;
}

.content p {
    line-height: 1.8;
    margin-bottom: 25px;
    font-size: 1.1rem;
    text-align: justify;
    position: relative;
}

.content .highlight {
    background-color: #333;
    border-left: 4px solid #FF5722;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
}

.content blockquote {
    font-size: 1.2rem;
    color: #E0E0E0;
    border-left: 4px solid #FF5722;
    padding-left: 20px;
    margin: 30px 0;
    font-style: italic;
}