
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


#Header {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}


#navbar_container {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}


#logo_container {
    flex: 1;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    background: linear-gradient(45deg, #333333, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.logo:hover {
    cursor: pointer;
}

#navbar {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

#navbar_items {
    display: flex;
    align-items: center;
}

.nav_item {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
}

#about_us {
    width: 110px;
}


#nav_to_login img, #nav_to_cart img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}


#nav_to_login img:hover, #nav_to_cart img:hover {
    opacity: 99;
    cursor: pointer;
}
