.movies_container {
    padding-top: 10%;
}
.slider_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2%;
    font-size: 17px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(90deg, #FF512F, #DD2476);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

