@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.Registration {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(18, 18, 18, 0.5) 0%, rgba(18, 18, 18, 0.9) 100%), url("../../assets/cinema.jpg");
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Montserrat', sans-serif;
}

.registration-form-container {
    background-color: #1e1e1e;
    padding: 25px;
    border-radius: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 20vw;
    height: 40vh;
    min-width: 350px;
    min-height: 400px;
}

.content {
    width: 100%;
    height: 100%;
}

.title {
    text-align: center;
    margin-bottom: 25px;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 12px;
    margin-bottom: 18px;
    border: none;
    border-radius: 0;
    background-color: #2e2e2e;
    color: #eaeaea;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.error-input {
    border: 3px solid #ec4402;
}

.button {
    padding: 14px;
    background-color: #ec4402;
    color: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        background-color: #ca3900;
    }
}

.message {
    text-align: center;
    margin-top: 15px;
    color: #ffffff;

}

.link {
    color: #ff4b04;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}