@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.Showtime {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgb(18, 18, 18);
    background-size: cover;
    padding-top: 10vh;
}

#showtime-info {
    margin-top: 5px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin-bottom: 0;
    border: 3px solid #ff4b04;
    border-radius: 2%;
}

#showtime-info h2 {
    font-size: 1.5em;
    color: #e0e0e0;
}

#showtime-info h2 span {
    font-weight: 700;
}


h2 {
    margin: 10px 0;
    color: white;
    font-weight: 800;
}


.Showtime #content {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    padding: 0;
}

#title_container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    width: 100%;
    height: 60%;
    text-align: center;
}

#title_details {
    width: 100%;
    min-width: 300px;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#your_seat,
#seat_type,
#price {
    min-width: 120px;
    max-width: 150px;
    width: 30%;
    height: 90%;
    border: 2px solid whitesmoke;
    margin: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-top: 0;
    border-radius: 12px;
    font-size: 14px;
}

#seating-chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.seating-chart {
    min-width: 400px;
    min-height: 400px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seat-row {
    display: flex;
    margin-bottom: 5px;
}

.availableSeatPremium {
    min-width: 30px;
    min-height: 30px;
    width: 2vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B8860B;
    border: 2px solid #B8860B;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 4px;
}

.availableSeat {
    min-width: 30px;
    min-height: 30px;
    width: 2vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5B0000;
    border: 2px solid #5B0000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 4px;
}

.non-availableSeat {
    min-width: 30px;
    min-height: 30px;
    width: 2vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34495E;
    scale: 0.95;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 4px;
}

.availableSeat.selected,
.availableSeatPremium.selected {
    background-color: #1F3A6B;
    border: #1F3A6B;
    color: #fff;
    scale: 1.1;
}

.availableSeat:hover,
.availableSeatPremium:hover {
    border-color: #1F3A6B;
    scale: 1.1;
}


.cinema-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #ffffff;
    position: relative;
}

.screen-container {
    position: relative;
    width: 80%;
    height: 100px;
}

.screen-svg {
    width: 100%;
    height: 100%;
}

#summary_container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
}

.primary-button,
.simple-button {
    width: 150px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.primary-button {
    background-color: #ec4402;
}

.primary-button:hover {
    background-color: #ca3900;
}

.primary-button:disabled,
.simple-button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.simple-button {
    background-color: #3b3a3a;
}

.simple-button:hover {
    background-color: #2e2e2e;
}

#button-container {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#button1,
#button2 {
    margin: 0 10px;
}