* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    color: #fff;
}

body {
    background-image: url('client/src/assets/town.jpg'); /* Ustaw ścieżkę do obrazu tła */
    background-size: cover; /* Zapewnia, że obraz tła wypełnia i pokrywa całą dostępną przestrzeń */
    background-position: center; /* Centruje obraz tła */
    background-repeat: no-repeat; /* Zapobiega powtarzaniu obrazu tła */
}



header {
    flex: 0 0 10vh;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main {
    flex: 1 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
}

footer {
    flex: 0 0 10vh;
    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

