@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.Admin {
    margin: 15vh auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(18, 18, 18);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.mode-switcher {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.mode-switcher button {
    padding: 10px 20px;
    background-color: #181818;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.mode-switcher button.active {
    background-color: #ffffff;
    color: #000;
}

.mode-switcher button:hover {
    background-color: #2f2f2f;
    transform: scale(1.05);
}

.mode-switcher button.active:hover {
    background-color: #ececec;
    transform: scale(1.05);
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
}

.container button {
    flex: 1 1 calc(45% - 20px);
    margin: 10px 0;
    padding: 15px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    background-color: #1f1f1f;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.container button:hover {
    transform: scale(1.05);
}

.red {
    background-color: #ee4a4a;
}

.red:hover {
    background-color: #ae2b2b;
}

.green {
    background-color: #2aad45;
}

.green:hover {
    background-color: #208334;
}

.white {
    background-color: #d27d2d;
}

.white:hover {
    background-color: #cc9215;
}

.blue:hover {
    background-color: #1a0e98;
}


.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.Modal {
    background: #fff;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
}

.modal-content-scrollable img {
    width: 80%;
    height: auto;
}

.movie-details-img {
    flex: 1;
    align-self: center;
    display: flex;
    /* Додаємо flex для контролю по горизонталі */
    justify-content: center;
    /* Вирівнюємо по центру по горизонталі */
    align-items: center;
    width: 50%;
}

.Modal h2 {
    margin-top: 0;
    text-align: center;
    width: 100%;
    color: #000;
}

.Modal label {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.Modal input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.Modal .error {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

.Modal button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #f95909;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Modal button:hover {
    background-color: #ce651f;
}



.all-modals {
    display: flex;
}

.category-list {
    list-style-type: none;
    /* Видаляє маркери списку */
    padding: 0;
    /* Видаляє відступи */
    margin: 0;
    /* Видаляє поля */
    list-style-type: none;
}

.category-list li {
    background-color: #f9f9f9;
    /* Світло-сірий фон для кожного елемента */
    border: 1px solid #ddd;
    /* Світло-сіра рамка */
    margin-bottom: 5px;
    /* Відступ між елементами */
    padding: 10px;
    /* Відступи всередині елементів */
    border-radius: 5px;
    /* Закруглені кути */
    transition: background-color 0.3s;
    /* Плавний перехід фону */
    font-size: 12px;
}

.category-list li:hover {
    background-color: #e9e9e9;
    /* Темніший фон при наведенні */
}

.category-list li strong {
    color: #171717;
    /* Темний колір для заголовків властивостей */
    display: inline-block;
    width: 100px;
    /* Ширина для вирівнювання заголовків */
}

/* Стиль для контейнера категорій */
.categories-container {
    max-width: 600px;
    /* Максимальна ширина контейнера */
    margin: 0 auto;
    /* Центрування контейнера */
    padding: 20px;
    /* Внутрішні відступи */
    background-color: #fff;
    /* Білий фон */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Легка тінь */
    border-radius: 10px;
    /* Закруглені кути */
}

/* Загальні стилі для списку категорій */
.category-list {
    list-style-type: none;
    /* Видаляє маркери списку */
    padding: 0;
    /* Видаляє відступи */
    margin: 0;
    /* Видаляє поля */
}

.modal li button {
    background-color: #c50000;
}

.category-list li:hover {
    background-color: #e9e9e9;
    /* Темніший фон при наведенні */
}

/* Стиль для контейнера категорій */
.categories-container {
    max-width: 600px;
    /* Максимальна ширина контейнера */
    margin: 0 auto;
    /* Центрування контейнера */
    padding: 20px;
    /* Внутрішні відступи */
    background-color: #fff;
    /* Білий фон */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Легка тінь */
    border-radius: 10px;
    /* Закруглені кути */
}

/* Стиль для модального вікна з прокручуванням */
.modal-content-scrollable {
    max-height: 400px;
    /* Фіксована висота модального вікна */
    overflow-y: auto;
    /* Дозвіл на вертикальне прокручування */
    padding: 20px;
    /* Внутрішні відступи */
    display: flex;
}

.modal-model {
    display: flex;
    flex-direction: column;
}

.Modal button {
    background-color: #ff7011;
}

.Modal button:hover {
    background-color: #ce651f;
}

.Modal .list-button {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: black;
    font-size: 12px;
}

.Modal .list-button:hover {
    background-color: #d9d9d9;
}

.movie-list {
    list-style-type: none;
}

.movie-details {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    flex: 1;
    font-size: 12px;
    width: 50%;
}

.movie-details h2 {
    margin-bottom: 10px;
}

.movie-details p {
    margin-bottom: 5px;
}