.Admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(18, 18, 18);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

#header_container {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.mode-switcher {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.mode-switcher button {
    padding: 10px 20px;
    background-color: #181818;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.mode-switcher button.active {
    background-color: #ffffff;
    color: #000;
}

.mode-switcher button:hover {
    background-color: #2f2f2f;
    transform: scale(1.05);
}

.mode-switcher button.active:hover {
    background-color: #ececec;
    transform: scale(1.05);
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
}

.container button {
    flex: 1 1 calc(45% - 20px);
    margin: 10px 0;
    padding: 15px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    background-color: #1f1f1f;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.container button:hover {
    transform: scale(1.05);
}

.red {
    background-color: #ee4a4a;
}

.red:hover {
    background-color: #ae2b2b;
}

.green {
    background-color: #2aad45;
}

.green:hover {
    background-color: #208334;
}

.white {
    background-color: #d27d2d;
}

.white:hover {
    background-color: #cc9215;
}

.blue:hover {
    background-color: #1a0e98;
}


.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.Modal {
    background: #fff;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Modal h2 {
    margin-top: 0;
    text-align: center;
    width: 100%;
}

.Modal label {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.Modal input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.Modal .error {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

.Modal button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #f95909;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Modal button:hover {
    background-color: #ce651f;
}

.Modal button:last-of-type {
    background-color: #6c757d;
}

.Modal button:last-of-type:hover {
    background-color: #5a6268;
}

.all-modals {
    display: flex;
}