/* Carousel.css */
.carousel-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}

.carousel-slide-container {
    position: relative;
    height: 440px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s ease, z-index 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-slide-container:hover {
    transform: scale(1.1);
    z-index: 100;
}

.carousel-image {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 0;
}


.swiper-button-next,
.swiper-button-prev {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    padding: 12px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s, box-shadow 0.5s, transform 0.5s;
}

.custom-swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
    transform: translateZ(0);
}

.swiper-button-next {
    right: 3%;
}

.swiper-button-prev {
    left: 3%;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
}

.carousel-caption {
    margin-top: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    width: calc(100% - 20px);
    box-sizing: border-box;
}