#Error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8d7da;
    color: #721c24;
    text-align: center;
}

#Error h1 {
    font-size: 3rem;
    margin: 0;
    padding: 20px;
    border: 2px solid #f5c6cb;
    border-radius: 10px;
    background-color: #f5c6cb;
}
