@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.header_container {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    align-content: center;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .10), transparent);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    backdrop-filter: blur(10px);
    border-bottom: 3px solid rgba(255, 255, 255, .2);
    transition: top 0.3s;
}

.header_container-transparent {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    align-content: center;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: background-color 0.3s, top 0.3s;

}

#Header {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}


#navbar_container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

#logo_container {
    flex: 5;
    text-align: left;
}


.logo {
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    background: linear-gradient(45deg, #818181, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

@keyframes shine {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 200%;
    }
}

.logo:hover {
    animation: shine 1.2s forwards;
    background: linear-gradient(45deg, #818181, #ffffff, #818181);
    background-size: 200%;
    -webkit-background-clip: text;
    cursor: pointer;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

#navbar_items {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.nav_item {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    flex: 1;
    white-space: nowrap;
}

.nav_item a :hover {
    color: #b4b4b4;
}


#nav_to_login img,
#nav_to_cart img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}


#nav_to_login img:hover,
#nav_to_cart img:hover {
    opacity: 99;
    cursor: pointer;
}

#mobile_navbar {
    display: none;
    justify-content: space-around;
    width: 100%;
}

.mobile_nav_item {
    flex: 1;
    text-align: center;
}

.mobile_nav_item img {
    width: 24px;
    height: 24px;
}

#nav_to_user {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

#nav_to_user a img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.user-menu {
    position: absolute;
    top: 105%;
    left: -200%;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

#nav_to_user:hover .user-menu {
    opacity: 1;
    visibility: visible;
}

.user-menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
}

.user-menu-item img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.user-menu button {
    background: none;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    display: flex;
}

.user-menu button:hover {
    background-color: #555;
}

@media (max-width: 620px) {
    #navbar_container {
        flex-direction: column;
    }

    .logo {
        font-size: 20px;
    }

    .nav_item a {
        font-size: 16px;
    }
}

@media (max-width: 620px) {
    #nav_to_user {
        display: flex;
        align-items: center;
    }
}