
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



#Header {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}


#navbar_container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

#logo_container {
    flex: 5;
    text-align: left;
}


.logo {
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    background: linear-gradient(45deg, #333333, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 200%;
    }
}

.logo:hover {
    animation: shine 1.2s forwards;
    background: linear-gradient(45deg, #333333, #ffffff, #333333);
    background-size: 200%;
    -webkit-background-clip: text;
    cursor: pointer;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

#navbar_items {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.nav_item {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    flex: 1;
    white-space: nowrap;
}



#nav_to_login img, #nav_to_cart img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}


#nav_to_login img:hover, #nav_to_cart img:hover {
    opacity: 99;
    cursor: pointer;
}

#mobile_navbar {
    display: none;
    justify-content: space-around;
    width: 100%;
}

.mobile_nav_item {
    flex: 1;
    text-align: center;
}

.mobile_nav_item img {
    width: 24px;
    height: 24px;
}

@media (max-width: 620px) {
    #navbar_container {
        flex-direction: column;
    }
    .logo {
        font-size: 20px;
    }
    .nav_item a {
        font-size: 16px;
    }
}