#Home {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#content_container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(18, 18, 18, 0.7) 80%, rgba(18, 18, 18, 1) 95%, rgba(18, 18, 18, 1) 100%),
            linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%),
            url("./src/assets/mountains.jpg");
    background-size: cover;
}

#Home::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20vh;
}

#movies_container {
    width: 100%;
    height: 100vh;
    padding: 0 2% 2%;
}


#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}


#for_title {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
    width: 50%;
    letter-spacing: 1px;
}

#for_title h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bolder;

}

#for_title p {
    font-size: 16px;

}

#for_search {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    position: relative;
}

#for_search input[type="text"] {
    padding: 17px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 85%;
}

#for_search input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    transition: background-color 1s;
}

#for_search button {
    width: 15%;
    height: 100%;
    padding: 16px 20px;
    margin-left: 2px;
    font-size: 16px;
    background-color: #141414;
    color: white;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.5s;
}

#for_search button:hover {
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    color: #141414;
}

.suggestions {
    border: 3px solid #ccc;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
    background-color: #1e1e1e;
    position: absolute;
    top: 100%; left: 0;
    width: 85%;
    z-index: 10;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #ff9800;
}