/* src/styles/Loading.css */
.loading-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif; /* Nowoczesna czcionka */
    background-color: rgb(16, 16, 16);
}

.loading-container .spinner {
    width: 60px;
    height: 60px;
    border: 6px solid rgba(255, 255, 255, 0.3);
    border-top: 6px solid #ffffff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-container p {
    margin-top: 20px;
    font-size: 1.5em;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
