#movies_container {
    padding: 30% 5% 10%;
    height: auto;
    min-height: 200vh;
}

.slider_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2%;
    font-size: 17px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(1deg, #333333, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#soon_movies, #best_rate_movies {
    background-color: black;
    height: 85vh;
}

