@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.Showtime {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
    linear-gradient(to bottom, transparent 14%, black 45%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#showtime-info {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Delikatny cień */
    margin-top: 5px;
    margin-left: 10px; /* Odstęp od dołu */
    color: #ecf0f1; /* Jasny kolor tekstu */
    font-family: 'Poppins', sans-serif; /* Elegancka czcionka */
}

#showtime-info h2 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 300;
}


h2 {
    margin: 10px 0;
    color: white;
    font-weight: 800;
}


.Showtime #content {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    padding: 0;
}

#title_container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    width: 100%;
    height: 60%;
    text-align: center;
}

#title_details {
    width: 100%;
    min-width: 300px;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#your_seat, #seat_type, #price {
    min-width: 120px;
    max-width: 150px;
    width: 30%;
    height: 90%;
    border: 2px solid whitesmoke;
    margin: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-top: 0;
    border-radius: 12px;
    font-size: 14px;
}

#seating-chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.seating-chart {
    min-width: 400px;
    min-height: 400px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seat-row {
    display: flex;
    margin-bottom: 5px;
}

.availableSeatPremium {
    min-width: 30px;
    min-height: 30px;
    width: 2vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B8860B;
    border: 2px solid #B8860B;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 4px;
}

.availableSeat {
    min-width: 30px;
    min-height: 30px;
    width: 2vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5B0000;
    border: 2px solid #5B0000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 4px;
}

.non-availableSeat {
    min-width: 30px;
    min-height: 30px;
    width: 2vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34495E;
    scale: 0.95;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 4px;
}

.availableSeat.selected,
.availableSeatPremium.selected {
    background-color: #1F3A6B;
    border: #1F3A6B;
    color: #fff;
    scale: 1.1;
}

.availableSeat:hover,
.availableSeatPremium:hover {
    border-color: #1F3A6B;
    scale: 1.1;
}


.cinema-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #ffffff;
    position: relative;
}

.screen-container {
    position: relative;
    width: 80%;
    height: 100px;
}

.screen-svg {
    width: 100%;
    height: 100%;
}

#summary_container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
}




.proceed-button {
    width: 150px;
    padding: 10px 20px;
    background-color: #1F3A6B;
    color: #fff;
    border: 2px solid #1F3A6B;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
}

.proceed-button:hover {
    background-color: #1F3A6B;
    border: 2px solid whitesmoke;
}

.proceed-button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

#button-container {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; /* Ustaw przyciski na górze kontenera */
}

#button1, #button2 {
    margin: 0 10px; /* Dodaj margines między przyciskami */
}
