.Showtime {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        linear-gradient(to bottom, transparent 14%, black 45%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


h2 {
    margin: 20px 0;
    color: white;
    font-weight: 400;
}

.content {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title_container {
    width: 90%;
    height: 18%;
}

#seating-chart-container {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.seating-chart {
    min-width: 400px;
    min-height: 400px;
    height: 90%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 10px 30px;
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.seat-row {
    display: flex;
    margin-bottom: 5px;
}

.availableSeat {
    min-width: 30px;
    min-height: 30px;
    width: 2vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4B0000;
    border: 2px solid #2B0000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 2px;
}

.non-availableSeat {
    min-width: 30px;
    min-height: 30px;
    width: 2vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 2px;
}

.availableSeat.selected {
    background-color: #007bff;
    color: #fff;
    scale: 1.1;
}

.availableSeat:hover {
    border-color: #007bff;
    scale: 1.1;
}

#screen_container {
    margin-top: 10px;
    width: 70%;
    height: 30%;
}

.screen {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(18, 18, 18);
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
}

.proceed-button {
    width: 150px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 10px;
}

.proceed-button:hover {
    background-color: #0056b3;
}

.proceed-button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

#button-container {
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}