@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.UserProfile {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

#header_container {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    align-content: center;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

#tab-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 20px 60px;
    min-width: 50%;
    min-height: 20%;
}

#tab-buttons button {
    background: none;
    border: none;
    font-size: 1.2em;
    padding: 10px 20px;
    cursor: pointer;
    color: #ffffff;
    width: 400px;
    outline: none;
    /* Remove outline on focus */
    position: relative;
    /* Required for the pseudo-element */
}

#tab-buttons button::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ff9800;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

#tab-buttons button.active::after {
    transform: scaleX(1);
}

.UserProfile #content {
    display: flex;
    width: 80%;
}

.welcome-section {
    text-align: center;
    margin-bottom: 40px;
}

.welcome-section h1 {
    font-size: 2.5em;
    margin: 0;
}

.welcome-section p {
    font-size: 1.2em;
    color: #bbbbbb;
}

.section {
    width: 100%;
    max-width: 1000px;
    min-height: 42vh;
    background-color: #1e1e1e;
    padding: 30px 30px 30px;
    border-radius: 12px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.section h3 {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.section hr.underline {
    width: 95%;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    margin-bottom: 20px;
}

.section p {
    color: #bbbbbb;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-group label {
    flex: 1;
}

.input-group input {
    flex: 2;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #2c2c2c;
    color: #fff;
}

.show-hide-btn {
    flex: 0.5;
    background: none;
    border: none;
    color: #ff9800;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
}

.show-hide-btn:hover {
    border: none;
}

.password-requirements {
    font-size: 0.9em;
    color: #bbbbbb;
    margin-bottom: 10px;
}

.change-password-btn {
    background-color: #6200ea;
    width: 30%;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.change-password-btn:hover {
    background-color: #3700b3;
}

.section p.transaction-history {
    color: #ff9800;
    font-weight: bold;
    cursor: pointer;
}

.ticket-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ticket-card {
    background-color: #282828;
    padding: 20px;
    border-radius: 14px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.ticket-card:hover {
    scale: 1.02;
    cursor: pointer;
    border: 1px solid whitesmoke;
}

.ticket-container {
    display: flex;
    flex-direction: column;
}

.ticket-info {
    display: flex;
    flex-direction: row;
}

.ticket-info p {
    color: #bbbbbb;
    margin: 5px 10px;
}

.ticket-info p strong {
    color: #ffffff;
}


/* Styles for the ticket actions container */
.ticket-actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

/* Common styles for the buttons */
.ticket-actions .buy-btn,
.ticket-actions .cancel-btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Styles for the "Buy reserved seat" button */
.ticket-actions .buy-btn {
    background-color: #4CAF50;
    /* Green */
    color: white;
}

.ticket-actions .buy-btn:hover {
    background-color: #45a049;
}

/* Styles for the "Cancel reservation" button */
.ticket-actions .cancel-btn {
    background-color: #f44336;
    /* Red */
    color: white;
}

.ticket-actions .cancel-btn:hover {
    background-color: #e53935;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    /* Rounded corners */
    padding: 20px;
    /* Optional padding for better content spacing */
}

.modal p {
    font-size: 18px;
}

.close-btn {
    /* align-self: flex-end; */
    background-color: #f16000;
    /* Red background color for the button */
    color: white;
    border: none;
    border-radius: 5px;
    /* Rounded corners for the button */
    padding: 5px 10px;
    cursor: pointer;
}

.close-btn:hover {
    background-color: #e0671c;
    /* Darker red on hover */
}