@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.UserProfile {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    background-size: cover;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%) center;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}


#header_container {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    align-content: center;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

#tab-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 20px 60px;
    min-width: 50%;
    min-height: 20%;
}

#tab-buttons button {
    background: none;
    border: none;
    font-size: 1.2em;
    padding: 10px 20px;
    cursor: pointer;
    color: #ffffff;
    width: 400px;
    outline: none;
    position: relative;
}

#tab-buttons button::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ff9800;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

#tab-buttons button.active::after {
    transform: scaleX(1);
}

.UserProfile #content {
    display: flex;
    width: 80%;
}

.welcome-section {
    text-align: center;
    margin-bottom: 40px;
}

.welcome-section h1 {
    font-size: 2.5em;
    margin: 0;
}

.welcome-section p {
    font-size: 1.2em;
    color: #bbbbbb;
}

.section {
    width: 100%;
    max-width: 1000px;
    min-height: 42vh;
    background-color: #1f1f1f;
    padding: 30px 30px 30px;
    border-radius: 12px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.section h3 {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.section hr.underline {
    width: 95%;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    margin-bottom: 20px;
}

.section p {
    color: #bbbbbb;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-group label {
    flex: 1;
}

.input-group input {
    flex: 2;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #2c2c2c;
    color: #fff;
}

.show-hide-btn {
    flex: 0.5;
    background: none;
    border: 3px solid transparent;
    color: #ff9800;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
}

.show-hide-btn:hover {
    border: 3px solid whitesmoke;
}

.password-requirements {
    font-size: 1em;
    color: #bbbbbb;
    margin-bottom: 10px;
}

#change-password-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}
.change-password-btn {
    background-color: #ff9800;
    width: 25%;
    color: #ffffff;
    font-weight: 1000;
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid #ff9800;
    cursor: pointer;
    transition: background-color 0.5s;
}

.change-password-btn:hover {
    background-color: #3700b3;
    border: 2px solid whitesmoke;
}

.ticket-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 90%;
}

.ticket-card {
    width: 100%;
    background-color: #282828;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
}

.ticket-card:hover {
    scale: 1.02;
    cursor: pointer;
    border: 2px solid whitesmoke;
}

.ticket-container {
    display: flex;
    flex-direction: column;
}

.ticket-info {
    display: flex;
    flex-direction: row;
}

.ticket-info p {
    color: #bbbbbb;
    margin: 5px 10px;
    width: auto;
    min-width: 10%;
    max-width: 40%;
}

.ticket-info p strong, #ticket-title p {
    color: #ffffff;
}

#ticket-title {
    display: flex;
    justify-content: flex-start;
    padding: 0 10px;
    margin-bottom: 2px;
    color: white;
    font-weight: 900;
    position: relative;
}

#ticket-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 50%;
    height: 1px;
    background: linear-gradient(to right, #ff9800, rgba(255, 152, 0, 0));
    border-radius: 10px;
}

#ticket-title p {
    display: inline-block;
    padding: 0 5px;
    margin: 0;
}

.ticket-actions {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    margin-top: 10px;
}

.ticket-actions .buy-btn,
.ticket-actions .cancel-btn {
    margin: 5px;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ticket-actions .buy-btn {
    background-color: #4CAF50;
    color: white;
    border: 3px solid #4CAF50;
}

.ticket-actions .buy-btn:hover {
    background-color: #45a049;
    border: 3px solid whitesmoke;
}

.ticket-actions .cancel-btn {
    background-color: #f44336;
    color: white;
    border: 3px solid #f44336;
}

.ticket-actions .cancel-btn:hover {
    background-color: #e53935;
    border: 3px solid whitesmoke;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
}

.modal p {
    font-size: 18px;
}

.close-btn {
    background-color: #f16000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.close-btn:hover {
    background-color: #e0671c;
}
