* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    color: #fff;
}

header {
    flex: 0 0 10vh;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: rgb(18, 18, 18);
}

footer {
    flex: 0 0 10vh;
    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header_container {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    align-content: center;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    backdrop-filter: blur(10px);
    border-bottom: 3px solid rgba(255, 255, 255, .2);
}

